@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Averta Demo PE Cutted Demo";
  src: url('../public/fonts/FontsFree-Net-AvertaDemoPECuttedDemo-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Averta Demo PE Cutted Demo', sans-serif;
}